html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-thumb {
  background-color: crimson;
}

::-webkit-scrollbar-thumb:active {
  background-color: rgb(139, 13, 38);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.preload * {
  transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ====== */
/* Header */
/* ====== */

.header {
  min-height: 15vh;
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.header > * {
  margin: 0 2vw;
}

.trademark {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 0vh 1vw;
  border-radius: 25px;
  transition-property: background-color, color;
  transition: 0.75s ease;
}

.trademark:hover {
  background-color: white;
  color: crimson;
}

.trademark h1 {
  font-weight: 700;
}

.logo {
  max-height: 12.5vh;
}

.pages {
  display: flex;
  gap: 2vw;
  align-items: center;
}

.page h2 {
  font-weight: 500;
}

.page {
  padding: 0.5vh 1vw;
  border-radius: 25px;
  transition-property: background-color, color;
  transition: 0.75s ease;
}

.page:hover {
  background: white;
  color: crimson;
}

.buying {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.buy,
.cart {
  transition: background-color 0.75s ease;
  padding: 2vh 1vw;
  border-radius: 25px;
}

.buy:hover,
.cart:hover {
  background-color: white;
}

.buy:hover .buySvg {
  filter: brightness(0) saturate(100%) invert(14%) sepia(94%) saturate(7475%)
    hue-rotate(357deg) brightness(110%) contrast(111%);
}

.cart:hover .cartSvg {
  filter: brightness(0) saturate(100%) invert(14%) sepia(94%) saturate(7475%)
    hue-rotate(357deg) brightness(110%) contrast(111%);
}

/* ======= */
/* Content */
/* ======= */

.content {
  margin: 0 7.5vw;
  padding: 7.5vh 0;
  background: #f5eeee;
}

.container {
  margin: 0 2.5vw;
}

.container.home {
  display: flex;
  justify-content: space-between;
}

.homeTxt {
  max-width: 30vw;
}

.homeImg > img {
  max-width: 30vw;
}
